src/main/app/test-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
    <http:listener-config name="test-api-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="test-api-config" raml="test-api.raml" consoleEnabled="false" doc:name="Router"/>
    <spring:beans>
    	<spring:import resource="classpath:deloitte_mulesoft_error_helper.xml"/>
    </spring:beans>
    <flow name="test-api-main">
        <http:listener config-ref="test-api-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="test-api-config" doc:name="APIkit Router"/>
        <exception-strategy ref="deloitte_globalExceptionStrategy" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="test-api-console">
        <http:listener config-ref="test-api-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="test-api-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="get:/testAPI:test-api-config">
        <validation:is-false expression="#[message.inboundProperties.'http.query.params'.causeError]" doc:name="Validation" exceptionClass="com.client.application.exceptions.ManualErrorException" message="Error manually thrown"/>
        <set-payload value="{&quot;result&quot;: &quot;success&quot;}" doc:name="Set Payload"/>
    </flow>
</mule>
